body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    
    padding: 15px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.buy-button {
    position: flex;
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
}

.Neg-button {
    position: flex;
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .confirm-button {
    position: flex;
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
}

.cancel-button {
    position: flex;
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;

}

.minimodal {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fefefe;
    border: 1px solid #ccc;
    padding: 10px;
    padding-top: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }

  .minimodal.open {
    display: block;
  }

  .minimodal textarea {
    display: block;
    width: 300px;
    height: 30px;
    resize: none;
    margin-bottom: 10px;

  }

#message-input2 {
    display: block;
    width: 300px;
    height: 200px;
    resize: none;
    margin-bottom: 10px;

  }

  .minimodal button {
    display: block;
    width: 50%;
    padding: 8px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }

  .minimodal .close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    color: #aaa;
    cursor: pointer;
  }